<form method="POST" action='/user/login'>
<h1>login</h1>
<label for="email">Email: </label> 
<input type ="text" name ="email" id="email">
<label for='password'>Password: </label>
<input type ="text" name ="password" id="password">
<input type= 'submit' value= 'login'>
</form> 

