<form method="POST" action='/user/signup'>
<label for='name'>Name: </label>
<input type ="text" name ="name" id="name">
<label for="email">Email: </label> 
<input type ="text" name ="email" id="email">
<label for='password'>Password: </label>
<input type ="text" name ="password" id="password">
<input type= 'submit'>
</form> 

